<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


<!--    <bean name="order" class="de.telran.simplespringproject.beans.Order">-->
<!--        <property name="item" value="Item1"/>-->
<!--        <property name="price" value="5.45"/>-->
<!--    </bean>-->

<!--    <bean name="paymentGateway" class="de.telran.simplespringproject.beans.PaymentGateway">-->
<!--        <constructor-arg ref="order"/>-->
<!--    </bean>-->

</beans>